@use 'base';
@use 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212f45;
    font-family: 'Roboto', sans-serif;
    color: white;
}

$primary: #006466;
$secondary: #212f45;
$third: #312244;
$fourth: #4d194d;

@mixin cuadrar ($largo) {
    width: $largo + px;
    height: $largo + px;
}

%flexer {
    display: flex;
    flex-wrap: wrap;
}
%sombra {
    box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.75);
}
%textShadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

//Para usarlo:
//@extend %flexer;

/* *** MAIN *** */



#main{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3%;
  width: 100%;
  height: 100vh;
  
}

.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .botonPuntuacion{
        
        
        }
}

#formulario{
    display: flex;
    justify-content: center;
    padding: 20px;

    #inputText{
        padding: 10px;
        outline: none;
        background-color: $third;
        font-size: 1em;
        @extend %sombra;
        border: 1px outset white;
        
    }
}

.botonPuntuacion {
    font-size: 1em;
    background-color: $third;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 10px;
    transition: all 0.8s ease;
    overflow: hidden;
        &:before,
        &:after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        left: 100%;
        top: 1%;
    }
    &:after {
        left: -100%;
        clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 300ms ease;
      }
    &:hover::after {
        left: 100%;
        top: 1%;
      }
  }

.contenedor{
    display: grid;
    text-align: center;
    padding: 10px;
    
}

.movie-info{
    width: 300px;
}

.tituloPuntuacion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .tituloh2{
        font-size: 2em;
        @extend %textShadow;
        margin-bottom: 20px;
    }
}

.puntuacion{
    padding: 10px;
    border: 1px outset $primary;
    border-radius: 5px;
    font-weight: bold;
    @extend %sombra;
    margin-left: 10px;
    @extend %textShadow;
}

.containerResumen{
    border: 1px outset $primary;
    padding: 10px;
    @extend %sombra;
    
    h3{
        @extend %textShadow;
        padding: 10px;
        background-color: rgba(77, 25, 77, 0.3);
        letter-spacing: 1px;
    }
    p{
        background-color: rgba(77, 25, 77, 0.3);
        padding: 10px;
    }
}



img{
    width: 300px;
    height: 400px;
    transition: all cubic-bezier(.19,.92,.79,.96) 1s;
    @extend %sombra;
}

img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all cubic-bezier(.19,.92,.79,.96) 1s;
}


.iconStar{
    color: gold;
}
@media  screen and (max-width: 370px){
    #main{
        display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
      
  }